* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 4px;
    font-size: 1.3rem;
    position: sticky;
    background: linear-gradient(to bottom, #54F0F7, #FFFFFF);
    height: 100px;
    color:#ffffff;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 4px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    flex-direction: column;
    border-style: solid;
    border-width: 3px;
    border-color: #1dbcd6;
    border-radius: 20px;
    width: 65%;
}
dashboard:hover {
    background-color: #E7EBEC;
}

.dashboard h1 {
    color: #1dbcd6;
    font-size: 2rem;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}



.dash-chart {
    display: flex;
    justify-content: center;
    align-items: center;
}


.journal {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #333;
    text-decoration: none;
    flex-direction: column;
}

.meal-category {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #333;
    text-decoration: none;
    flex-direction: column;
}

.nav-element {
    padding-left: 9px;
    padding-right: 9px;
}

#login {
    background-color: blue;
    color: #fff;
    text-decoration: none;
    padding: 7px 12px;
    border-radius: 30px;
}

#home {
    text-decoration: none;
    font-size: 2rem;
    color: #000000;
}

#profile {
    text-decoration: none;
    color:#ffffff;
}

#login:hover {
    background-color: indigo;
}